<div class="flyntComponent" is="flynt-grid-all-posts">
  <div class="container grid8">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml|e('wp_kses_custom') }}
      </div>
    {% endif %}
    <div class="filterSection">
      <div class="filterSection--inner grid8">
        <div class="content content-title sectionId small">{{ options.sectionId }}</div>
        {{ function('do_shortcode', '[ajax_load_more_filters target="Home" filters="true" id="topic"]') }}
        {# <div class="filterSection--topic">
          <div class="category-list">
            
          </div>
        </div> #}
        {# <div class="filterSection--format">
          <sup class="label">FORMAT</sup>
          <div class="category-list">
          <li class="category category-all active" data-term="all">All</li>
          {% for category in formats %}
            {% if category.count >= 0 %}
              <li class="category" data-format="{{ category.title|lower|replace({' ': '-'}) }}">{{ category.title }}</li>
            {% endif %}
          {% endfor %}
          </div>
        </div> #}
        {# <div class="filterSection--search">
          <sup class="label">SEARCH</sup>
          {% include 'Partials/_search.twig' %}
        </div> #}
        <div class="filterSection--empty"></div>
      </div>
    </div>
    {{ function('do_shortcode', '[ajax_load_more target="topic" filters="true" id="Home" loading_style="infinite fading-blocks" container_type="div" css_classes="grid" post_type="post" posts_per_page="20" images_loaded="true" transition_container_classes="css-grid" order="ASC" orderby="menu_order" button_loading_label="Loading..." no_results_text="No results...]') }}
  </div>
</div>
