<div class="flyntComponent" is="flynt-block-post-header">
<header class="post-header post-header--{{ post.terms('format')|join(', ')|lower|replace({' ': '-'}) }} grid2">
  <div class="post-header--left">
    <div class="top">
      <div class="metaInfo small">
        <div class="row grid4">
          <sup class="left">Category</sup>
          <div class="right">
            <span>{{ post.get_terms('category')|first }}</span>
            {# <sup>( {{ post.terms('category')|length }} )</sup> #}
          </div>
        </div>
        <div class="row grid4">
          <sup class="left">Author</sup>
          <div class="right">
            <span>{{post.author.name}}</span>
            {# <sup>( {{ post.author.name|length }} )</sup> #}
            {# <sup>( {{ function('getPostCount') }} )</sup> #}
          </div>
        </div>
        {# <div class="row grid4">
          <sup class="left">Reading Time</sup>
          <div class="right">
            <span>{{ item.content | readingtime }} MIN</span>
          </div>
        </div> #}
        {% if audioEmbed or function('do_shortcode', '[favorite_button]') %}
        <div class="row grid4">
          <sup class="left">Options</sup>
          <div class="right">
            {% if audioEmbed %}
            <div class="listen outer">
              <span>Listen</span>
              <sup class="playButton">( {{ audioEmbed }} )</sup>
            </div>
            {% endif %}
            {% if function( 'is_user_logged_in') %}
            <div class="bookmark outer">
              <span>Save</span>
              <sup>({{ function('do_shortcode', '[favorite_button]') }})</sup>
            </div>
            {% endif %}
            {# <div class="outer">
              <span>Share</span>
              <sup>(Socials)</sup>
            </div> #}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="bottom grid4">
      <div class="format small">{{ post.terms('format') | join(', ')  }}</div>
      <div class="title h1">{{ post.title }}</div>
    </div>
  </div>
  <div class="post-header--right">
    {% if post.thumbnail %}
    <div class="featuredImage">
      <img class="figure-image lazyload"
        src="{{ post.thumbnail.src }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
        data-sizes="auto">
    </div>
    {% endif %}
  </div>
  </header>
</div>
