{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post post--{{ post.terms('format')|join(', ')|lower }}">
    <section class="header-preview">
      {{ renderComponent('BlockPostHeader', { post: post }) }}
      <div class="grid8 boxed">
        <div class="post-intro">{{ post.introHtml|e(('wp_kses_custom')) }}</div>
      </div>
    </section>
    {# <div class="memershipLevel boxed">{{ function('do_shortcode', '[membership level="4" show_noaccess="true"]') }}</div> #}
    {# <div class="memershipLevel boxed">{{ function('do_shortcode', '[membership_level]') }}</div> #}
    <div class="post-main">{{ post.content }}</div>
    {# <section class="post-main">
      {% for component in post.meta('postComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section> #}
    <footer class="post-meta">
      {# {{ renderComponent('BlockPostFooter', { post: post }) }} #}
    </footer>
    <section class="post-related">
      {{ renderComponent('GridPostsLatest', {'taxonomies': post.categories(), 'options': {'columns': 2}}) }}
    </section>
  </article>
{% endblock %}
