{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      <h1>{{ post.title }}</h1>
    </header>
    <section class="post-main">
      {% for component in post.meta('artistComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
      {# <div class="socials">
        <ul class="list">
          {% for panel in post.meta('repeaterPanels') %}
            <li class="panel">
              <a href="{{ panel.panelLink.url }}" target="_blank" rel="noreferrer noopener" type="button">
                {{ panel.panelLink.title|e }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="bio">
        {{ post.bioHtml|e('wp_kses_post') }}
      </div> #}
    </section>
    <section class="post-related">
      {{ renderComponent('GridArticlesLatest', {'title': ('Articles'),'taxonomies': post.categories() }) }}
      {{ renderComponent('GridPodcastsLatest', {'title': ('Podcasts'),'taxonomies': post.categories() }) }}
      {{ renderComponent('GridEventsLatest', {'title': ('Events'),'taxonomies': post.categories() }) }}
    </section>
  </article>
{% endblock %}
