{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      <p class="date">{{ post.datePost|date("d.m.Y")|escape('wp_kses_post') }}</p>
      <p class="venue">{{ post.venue }}</p>
      <p class="title">{{ post.title }}</p>
      {# {{ renderComponent('BlockArtistHeader', { post: post }) }} #}
    </header>
    <section class="post-main">
      <div class="left">
        {% for component in post.meta('eventLeftComponents') %}
          {{ renderComponent(component) }}
        {% endfor %}
      </div>
      <div class="right">
        {% for component in post.meta('eventRightComponents') %}
          {{ renderComponent(component) }}
        {% endfor %}
      </div>
    </section>
    {# <section class="post-related">
      {{ renderComponent('GridPostsLatest', {'preContentHtml': '<h2>' ~ __('Related Posts') ~ '</h2>','taxonomies': post.categories(), 'options': {'theme': 'themeLight', 'columns': 3}}) }}
    </section> #}
  </article>
{% endblock %}
