<div class="flyntComponent" is="flynt-hero-image-text">
  <figure class="figure">
    <img class="figure-image lazyload"
      src="{{ posterImage.src|resizeDynamic(1280, 720) }}"
      srcset="{{ placeholderImage(1280, 720) }}"
      data-srcset="{{ function('wp_get_attachment_image_srcset', posterImage.id) }}"
      data-sizes="auto"
      alt="{{ posterImage.alt|e }}">
  </figure>
  {% if contentHtml %}
    <div class="content">
      <div class="content-inner">
        {{ contentHtml }}
      </div>
    </div>
  {% endif %}
</div>
