{% if items|length > 0 %}
<div class="flyntComponent boxed grid8" is="flynt-block-post-object">
  <div class="container">
    {% for item in items %}
    <div class="content">
      <div class="table">
        <div class="row">
          <span class="column-left">COPMAPNY NAME</span>
          <span class="column-right">{{ item.companyName }}</span>
        </div>
        <div class="row">
          <span class="column-left">COMPANY TYPE</span>
          <span class="column-right">{{ item.companyType }}</span>
        </div>
        <div class="row">
          <span class="column-left">LOCATION</span>
          <span class="column-right">{{ item.location }}</span>
        </div>
        <div class="row">
          <span class="column-left">YEAR ESTABLISHED</span>
          <span class="column-right">{{ item.yearEstablished }}</span>
        </div>
        <div class="row">
          <span class="column-left">TEAM SIZE</span>
          <span class="column-right">{{ item.teamSize }}</span>
        </div>
        <div class="row">
          <span class="column-left">INNOVATION TYPE</span>
          <span class="column-right">{{ item.innovationType }}</span>
        </div>
        <div class="row">
          <span class="column-left">INPUT (FEEDSTOCK)</span>
          <span class="column-right">{{ item.input }}</span>
        </div>
        <div class="row">
          <span class="column-left">OUTPUT</span>
          <span class="column-right">{{ item.output }}</span>
        </div>
        <div class="row">
          <span class="column-left">OUTPUT END-USE</span>
          <span class="column-right">{{ item.outputEnduse }}</span>
        </div>
        <div class="row">
          <span class="column-left">TECHNOLOGY</span>
          <span class="column-right">{{ item.technology }}</span>
        </div>
        <div class="row">
          <span class="column-left">PROBLEM BEING SOLVED</span>
          <span class="column-right">{{ item.problemBeingSolved }}</span>
        </div>
        <div class="row">
          <span class="column-left">CARBON FOOTPRINT (kg CO<sup>2</sup> eq. per 1kg / 1m<sup>2</sup>)</span>
          <span class="column-right">{{ item.carbonFootprint }}</span>
        </div>
        <div class="row">
          <span class="column-left">TECH DEVELOPMENT STAGE</span>
          <span class="column-right">{{ item.techDevelopmentStage }}</span>
        </div>
        <div class="row">
          <span class="column-left">PARTNERSHIPS (BRAND)</span>
          <span class="column-right">{{ item.partnershipBrand }}</span>
        </div>
        <div class="row">
          <span class="column-left">PARTNERSHIPS (SUPPLY CHAIN)</span>
          <span class="column-right">{{ item.partnershipSupplychain }}</span>
        </div>
        <div class="row">
          <span class="column-left">FUNDING STAGE REACHED</span>
          <span class="column-right">{{ item.fundingStageReached }}</span>
        </div>
        <div class="row">
          <span class="column-left">FUNDS RAISED ($m)</span>
          <span class="column-right">{{ item.fundsRaised }}</span>
        </div>
        <div class="row">
          <span class="column-left">NUMBER OF INVESTORS</span>
          <span class="column-right">{{ item.numberInvestors }}</span>
        </div>
        <div class="row">
          <span class="column-left">NEXT FUND RAIS (PROJECTED)</span>
          <span class="column-right">{{ item.nextFundraise }}</span>
        </div>
        <div class="row">
          <span class="column-left">PRODUCTION CAPACITY (ACTUAL) (sq. ft. / tonnes per month)</span>
          <span class="column-right">{{ item.productionCapacityActual }}</span>
        </div>
        <div class="row">
          <span class="column-left">PRODUCTION CAPACITY (PROJECTED) (sq. ft. / tonnes per month)</span>
          <span class="column-right">{{ item.productionCapacityProjected }}</span>
        </div>
        <div class="row">
          <span class="column-left">SIZE OF MARKET? (CURRENT ‘DISRUPTABLE’ MARKET) (sq. ft. / tonnes per month)</span>
          <span class="column-right">{{ item.sizeMarket }}</span>
        </div>
        <div class="row">
          <span class="column-left">DATE OF THIS PROFILE</span>
          <span class="column-right">{{ item.profileDate }}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
