{% if items|length > 0 %}
<div class="flyntComponent boxed grid8" is="flynt-block-post-object">
  <div class="container">
    {% for item in items %}
    <div class="content">
      <div class="table">
        <div class="row">
          <span class="column-left">Company Name</span>
          <span class="column-right">{{ item.companyName }}</span>
        </div>
        <div class="row">
          <span class="column-left">Company Type</span>
          <span class="column-right">{{ item.companyType }}</span>
        </div>
        <div class="row">
          <span class="column-left">Location</span>
          <span class="column-right">{{ item.location }}</span>
        </div>
        <div class="row">
          <span class="column-left">Year Established</span>
          <span class="column-right">{{ item.yearEstablished }}</span>
        </div>
        <div class="row">
          <span class="column-left">Team Size</span>
          <span class="column-right">{{ item.teamSize }}</span>
        </div>
        <div class="row">
          <span class="column-left">Innovation Type</span>
          <span class="column-right">{{ item.innovationType }}</span>
        </div>
        <div class="row">
          <span class="column-left">Input (feedstock)</span>
          <span class="column-right">{{ item.input }}</span>
        </div>
        <div class="row">
          <span class="column-left">Output</span>
          <span class="column-right">{{ item.output }}</span>
        </div>
        <div class="row">
          <span class="column-left">Output end-use</span>
          <span class="column-right">{{ item.outputEnduse }}</span>
        </div>
        <div class="row">
          <span class="column-left">Technology</span>
          <span class="column-right">{{ item.technology }}</span>
        </div>
        <div class="row">
          <span class="column-left">Problem being solved</span>
          <span class="column-right">{{ item.problemBeingSolved }}</span>
        </div>
        <div class="row">
          <span class="column-left">Carbon Footprint (kg CO2eq / sq.m)</span>
          <span class="column-right">{{ item.carbonFootprint }}</span>
        </div>
        <div class="row">
          <span class="column-left">Tech development stage</span>
          <span class="column-right">{{ item.techDevelopmentStage }}</span>
        </div>
        <div class="row">
          <span class="column-left">Partnerships (brand)</span>
          <span class="column-right">{{ item.partnershipBrand }}</span>
        </div>
        <div class="row">
          <span class="column-left">Partnerships (supply chain)</span>
          <span class="column-right">{{ item.partnershipSupplychain }}</span>
        </div>
        <div class="row">
          <span class="column-left">Funding stage reached</span>
          <span class="column-right">{{ item.fundingStageReached }}</span>
        </div>
        <div class="row">
          <span class="column-left">Funds raised</span>
          <span class="column-right">{{ item.fundsRaised }}</span>
        </div>
        <div class="row">
          <span class="column-left">Number of investors</span>
          <span class="column-right">{{ item.numberInvestors }}</span>
        </div>
        <div class="row">
          <span class="column-left">Next fund raise (projected)</span>
          <span class="column-right">{{ item.nextFundraise }}</span>
        </div>
        <div class="row">
          <span class="column-left">Production capacity (actual) sq.ft/month</span>
          <span class="column-right">{{ item.productionCapacityActual }}</span>
        </div>
        <div class="row">
          <span class="column-left">Production capacity (projected sq.ft/month)</span>
          <span class="column-right">{{ item.productionCapacityProjected }}</span>
        </div>
        <div class="row">
          <span class="column-left">Size of market? (current ‘disruptable’ market) sq.ft/year</span>
          <span class="column-right">{{ item.sizeMarket }}</span>
        </div>
        <div class="row">
          <span class="column-left">Date of this profile</span>
          <span class="column-right">{{ item.profileDate }}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
