{% if items|length > 0 %}
  <div class="flyntComponent" is="flynt-grid-posts-latest">
    <div class="container grid8">
      {% if post.category %}
      <div class="preContent grid8">
        <div class="sideTitle small">{{ labels.moreOn }} {{ post.category() }}</div>
      </div>
      {% endif %}
      <ul class="grid grid8">
        {% for item in items %}
          <li class="grid-item">
            <div class="content">
              <a href="{{ item.link }}" class="content-link" title="{{ item.title }}">
                <figure class="figure">
                  <img class="figure-image lazyload"
                    src="{{ item.thumbnail.src|resize(32) }}"
                    data-srcset="{{function('wp_get_attachment_image_srcset', item.thumbnail.id)}}"
                    data-sizes="auto"
                    alt="{{ item.title }}">
                </figure>
                <div class="post-category small">
                  <span>{{ item.category() }}</span>
                  <span> / </span>
                  <span> {{ item.terms('format') | join(', ')  }} </span>
                  {# {% for tag in item.terms('tag')  %}
                    <span>{{ tag }}</span> #}
                    {# <li class="tags-item"><a class="tags-itemLink" href="{{ tag.link }}"><span class="visuallyHidden">{{ __("Tag:", "flynt") }}</span> {{ tag }}</a></li> #}
                  {# {% endfor %} #}
                  {# <span>{{ post.terms('tag') }}</span> #}
                </div>
                <div class="content-inner">
                  <h2 class="h2 post-title">{{ item.title }}</h2>
                  {# <p class="post-excerpt">{{ post.preview.read_more(false) }}</p> #}
                  <a class="button button--link small" href="{{ item.link }}" title="{{ item.title }}" aria-hidden="true" tabindex="-1">
                    {{ labels.readMore }}
                    {# <sup>({{ item.content | readingtime }} {{ labels.readingTime }})</sup> #}
                  </a>
                </div>
              </a>
              {# <footer class="content-footer">
                <span class="content-readingTime">
                  <i data-feather="clock"></i> {{ item.content | readingtime }} {{ labels.readingTime }}
                </span>
                <a href="{{ item.link }}" class="button button--link content-readMore" aria-hidden="true" tabindex="-1">{{ labels.readMore }}</a>
              </footer> #}
            </div>
          </li>
        {% endfor %}
      </ul>
      {# <div class="allPostsLink">
        <a href="{{ postTypeArchiveLink }}" class="button button--link">{{ labels.allPosts }}</a>
      </div> #}
    </div>
  </div>
{% endif %}
